@import '~StylesPath/color';
@import '~StylesPath/mixin';

.content-wrapper {
  margin-left: 0;
  padding-top: 30px;
  @include mobile-view{
    padding-top: 0px;
    margin-left: 0px;
  };
}

.content-wrapper--show-header {
  padding-top: 45px;
}
