= stylesheet_link_tag 'phoenix-message-main-wrapper'
= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', media: 'all'

#phoenix-message-container
  = javascript_include_tag 'phoenix-message-main-wrapper'