@import 'react-toolbox/lib/radio/theme.css';

.radio {
  border-color: #4a4a4a;

  &::before {
    background-color: #00C26B;
  }
}
.field {
  margin-bottom: 10px;
}

.radioChecked {
  composes: radio;
  border-color: #00C26B;
}

.text {
  color: #4a4a4a;
  font-size: 1rem;
}