@import '~StylesPath/mixin';

.message {
  font-family: 'Cormorant Garamond', serif;

  position: absolute;
  top: 45px;
  bottom: 0;
  padding: 20px;
  width: 100%;

  p, li {
    font-family: fantasy;
  }

  &.message--editing {
    top: 130px;
  }

  @include mobile-view {
    &.message--editing {
      top: 100px;
    }

    padding: 5px;
  }

  &__video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
}
