@import '~StylesPath/mixin';

.message {
  font-family: 'Cormorant Garamond', serif;

  position: absolute;
  top: 45px;
  bottom: 0;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;

  p, h3 {
    font-family: fantasy;
  }

  h3 {
    line-height: 46px;
  }

  &.message--editing {
    top: 130px;
  }

  @include mobile-view {
    &.message--editing {
      top: 100px;
    }

    padding: 5px;
  }

  &__video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
}
